= form_for @apk do |f|
  - if @apk.errors.any?
    #error_explanation
      %h2= "#{pluralize(@apk.errors.count, "error")} prohibited this apk from being saved:"
      %ul
        - @apk.errors.full_messages.each do |msg|
          %li= msg

  .upload_input
    .field
      = f.label :title
      = f.text_field :title
    .field
      = f.label :desc
      = f.text_area :desc, :class => 'desc_input_area'
    .field
      = f.label "apk"
      = f.file_field :file
  .upload_send
    .actions
      = f.submit 'Save'
